## Review of List

In [2]:
cars=list(("volvo","benz","Lexus","Honda"))

In [10]:
cars

['volvo', 'benz', 'Lexus', 'Honda']

In [11]:
type(cars)

list

In [ ]:
cars=[]

In [4]:
x="a","b","c","d"

In [5]:
x

('a', 'b', 'c', 'd')

In [6]:
type(x)

tuple

## THE math module

In [12]:
import math

In [13]:
math.pi

3.141592653589793

In [14]:
## to calculate the area of a circle
area=22/7*4*4
area_math=math.pi*4*4

In [15]:
print(area)
print(area_math)

50.285714285714285
50.26548245743669

In [16]:
22/7

3.142857142857143

In [17]:
math.factorial(5)

120

In [18]:
# factorial of 5
5*4*3*2*1

120

In [19]:
math.factorial(120)

6689502913449127057588118054090372586752746333138029810295671352301633557244962989366874165271984981308157637893214090552534408589408121859898481114389650005964960521256960000000000000000000000000000

In [21]:
math.factorial(20)

2432902008176640000

In [22]:
math.sqrt(25)

5.0

In [23]:
math.sqrt(125)

11.180339887498949

In [24]:
125**0.5

11.180339887498949

In [25]:
math.pow(125,0.5)

11.180339887498949

In [26]:
math.cos(60)

-0.9524129804151563

In [27]:
cos60=math.radians(60)

In [28]:
math.cos(cos60)

0.5000000000000001

In [29]:
math.cos(math.radians(60))

0.5000000000000001

In [30]:
cos60

1.0471975511965976

In [31]:
math.cos(1.0471975511965976)

0.5000000000000001

## the same principle works with sine, cosine, tangent, anything trigonometry

In [32]:
math.degrees(1.0471975511965976)

59.99999999999999

In [33]:
math.exp(3)

20.085536923187668

# LOOPS

In [43]:
## python loops has two primitive loop commands:
# while loops and for loops

## while loop

In [ ]:
# with the while loop we can execute a set of statements as long as a conditionis true.

In [7]:
i=1
while i <5:
    print(i)
    i +=1

1
2
3
4

In [9]:
i=-2
while i <7:
    print(i)
    i +=1

-2
-1
0
1
2
3
4
5
6

## Break statement

In [ ]:
## with the break statement we can stop the loop even if the while condition is true.

In [18]:
i=-2
while i <7:
    print(i)
    if i==3:
        break
    i +=1

-2
-1
0
1
2
3

In [17]:
i=-2
while i <7:
    if i==3:
        break
    print(i)
    i +=1

-2
-1
0
1
2

## Continue statement

In [ ]:
## with the continue statement we can stop the current iteration and continue with the next

In [19]:
i=0
while i <7:
    i +=1
    if i==3:
        continue
    print(i)

1
2
4
5
6
7

In [22]:
i=0
while i <10:
    i +=1
    if i==3 or i==6:
        continue
    print(i)

1
2
4
5
7
8
9
10

## the else statement

In [23]:
# with the else statement, we can run a block of code once when the condition no longer is true

In [31]:
i=1
while i <6:
    print(i)
    i+=1
else:
    print(i,"is no longer less than",i)
    print(f"{i} is no longer less than {i}")

1
2
3
4
5
6 is no longer less than 6
6 is no longer less than 6

## python for loops

### a for loop is used for iterating over a sequence(that is either a list, tuple, a dictionary, a string or a set).

In [32]:
fruits=["apple","banana","orange","pineapple","cashew","cherry"]

In [35]:
fruits
print(fruits)

['apple', 'banana', 'orange', 'pineapple', 'cashew', 'cherry']

In [36]:
for i in fruits:
    print(i)

apple
banana
orange
pineapple
cashew
cherry

In [37]:
cars

['volvo', 'benz', 'Lexus', 'Honda']

In [38]:
for car in cars:
    print(car)

volvo
benz
Lexus
Honda

In [39]:
name="Odiebara"
for alphabets in name:
    print(alphabets)

O
d
i
e
b
a
r
a

In [40]:
## break statement in for loop

In [41]:
cars

['volvo', 'benz', 'Lexus', 'Honda']

In [42]:
for Jessica in cars:
    if Jessica =="Lexus":
        break
    print(Jessica)

volvo
benz

In [43]:
for Jessica in cars:
    if Jessica =="Lexus":
        continue
    print(Jessica)

volvo
benz
Honda

In [44]:
cars.append("Nissan")

In [45]:
cars.append("Lexus")

In [46]:
cars.append("Toyota")

In [47]:
cars

['volvo', 'benz', 'Lexus', 'Honda', 'Nissan', 'Lexus', 'Toyota']

In [48]:
for Jessica in cars:
    if Jessica =="Lexus":
        continue
    print(Jessica)

volvo
benz
Honda
Nissan
Toyota

## The Range function

## the range function returns a sequence of numbers starting from 0 by default, and increments by 1(by default), ends at a specified number

In [49]:
for x in range(6): # range function starting from 0 by default
    print(x)

0
1
2
3
4
5

In [51]:
for x in range(2,6): # range function starting from 2
    print(x)

2
3
4
5

In [53]:
for x in range(1,15,2): # range function starting from 1 and ending at 14 with a step of 2
    print(x)

1
3
5
7
9
11
13

## nested loops

In [54]:
## a nested loop is a loop inside a loop.
## the inner loop will be executed one time for each iteration of the outer loop

In [6]:
adj=["red","big","tasty"]
fruits=["apple","banana","mango"]

for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red mango
big apple
big banana
big mango
tasty apple
tasty banana
tasty mango